.overlay {
  z-index: 505;
  height: 100vh;
  position: absolute;
  transition: opacity .25s ease;
  opacity: 0;
  visibility: hidden !important;
  width: 100%;
  background: rgb(45 52 57 / 50%);
  top: 0;
  left: 0;
  display: block;
}

.overlay.active {
  opacity: 1;
  visibility: visible !important;
}